<h1>Stupid Barney</h1>

<p id="underline">Ask your coach anything :</p>
<form action="/answer" data-turbo="false">
  <input id="submit" type="text" name="request" placeholder="No silly question, idiot !">
  <input id="btn" type="submit" value="Ask!">
</form>
