/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #btn {
  background-color: red;
  padding: 8px 16px;
  border-radius: 8px;
 }

 #btn:hover {
  background-color: rgb(189, 0, 0);
  transition: 250ms;
 }

#submit {
  padding: 8px 16px;
  border-radius: 8px;
}

#underline {
  text-decoration: underline;

}

body {
  text-align: center;
  /* background-color: aquamarine; */
  background-image: url("https://media0.giphy.com/media/uyY47DYRyMr8A/giphy.webp?cid=ecf05e47qc78ya1gqctc3r5f74s56o8a5o6rfdfrf832fhqq&ep=v1_gifs_search&rid=giphy.webp&ct=g");
  background-size: cover;
  color: white;
}
